html,
body,
#root {
  height: 100%;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-wrapper {
  padding-top: 72px; /* SAME as navbar height */
  min-height: 100vh;
  background: #fff;
}
